@import "~ol/ol.css";
@import "~bootstrap/scss/bootstrap";
@import "~fontawesome/fontawesome-free/css/all.min.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#header{
  position: absolute;
  top: 0;
  left: 1em;
  width: 100%;
  z-index: 1;
}

