@import "~ol/ol.css";
@import "~node_modules/ol-ext/dist/ol-ext.css";
$primary: #0152b4;
@import "~bootstrap/scss/bootstrap";
@import "~fontawesome/fontawesome-free/css/all.min.css";
@import "~node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "~node_modules/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";



:root,
:host {
  --ol-background-color: white;
  --ol-accent-background-color: #f5f5f5;
  --ol-subtle-background-color: rgba(128, 128, 128, 0.25);
  --ol-partial-background-color: rgba(255, 255, 255, 0.75);
  --ol-foreground-color: #333333;
  --ol-subtle-foreground-color: #0152b4;
  --ol-brand-color: #0152b4;
}
.nav-pills {
  --bs-nav-pills-link-active-bg: #0152b4;
}

.ol-zoom {
  bottom: 50%;
  left: .5em;
}
.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: .4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#progressBar{
  display: none;
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 30%;
  width: 40%;
  accent-color: #0152b4;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

}
.ol-attribution {
  display: none;
}

.locate {
  bottom: 45%;
  left: 0.5em;
}
#header {
  position: absolute;
  top: 0;
  left: 1em;
  width: 50%;
  z-index: 1;
}
#layerGroupDiv{
  position: absolute;  
  left: 1.5em;
  width: 100%;
  z-index: 1;
  display: none;
}
#featureTableDiv{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  padding-left: .5em;
  padding-right: .5em;
  
  background-color: #f5f5f5;
  border-radius: 20px 20px 0 0;

}
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}
#settingTab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: white;
  height: 60%;
  width: 80%;
  padding-top: 20px;
  padding-left: 10px;
  
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.7),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);


}
div.dt-button-collection {
  max-height: 200px;
  overflow-y: scroll;
}

.circle-btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-btn:hover {
  background-color: #0152b4;
}
.circle-btn i {
  color: #0152b4;
}
.circle-btn:hover i {
  color: white;
}
i {
  color: #0152b4;
}


// .feature-info-table {
//   border-collapse: collapse;
//   width: 100%;
// }

// .feature-info-table th,
// .feature-info-table td {
//   border: 1px solid #dddddd;
//   text-align: left;
//   padding: 8px;
// }

// .feature-info-table th {
//   background-color: #f2f2f2;
// }

.popup {
  display: none;
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 15px;
  max-width: 400px; /* Adjust as needed */
  // overflow-y: auto; /* Enable vertical scroll bar */
}

#popup-content{
  margin-bottom: 15px;
  height: 300px;
  // overflow: auto;
}

.popup-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.custom-disabled-btn {
  border: 0px solid #ccc; /* Border style for disabled buttons */
}

.custom-table {
  border-collapse: collapse; /* Merge borders */
  border: 1px solid #ccc; /* Table border */
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc; /* Cell borders */
  padding: 8px; /* Cell padding */
}